<select size="1" name="grade" id="select_grade">
    <option value="7">grade 7</option>
    <option value="8">grade 8</option>
    <option value="9">grade 9</option>
    <option value="10">grade 10</option>
    <option value="11">grade 11</option>
    <option value="12">grade 12</option>
</select>

<select size="1" name="course" id="select_class">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>

<select size="1" name="course" id="select_course">
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
</select>


使用日期：<input type="date" name="useDate" id="useDate" value="" />


<select size="1" name="subject" id="subject"> 
    <option value="Chinese" selected>Chinese</option>
    <option value="Math">Math</option>
    <option value="English">English</option>
    <option value="Pyhsics">Pyhsics</option>
    <option value="Chemistry">Chemistry</option>
    <option value="Biology">Biology</option>
    <option value="History">History</option>
    <option value="Geography">Geography</option>
    <option value="Politics">Politics</option>
    <option value="PE">PE</option>
    <option value="Music">Music</option>
    <option value="Arts">Arts</option>
    <option value="IT">IT</option>
    <option value="CT">CT</option>
    <option value="LT">LT</option>
    <option value="Others">Others</option>
</select>


<span class="STYLE6">　设备状况：</span>
<select size="1" name="is_normal" id="is_normal">
    <option value="1" selected>正常</option>
    <option value="0">有问题</option>
</select>

<textarea name="description" rows="6" cols="30" id="description"></textarea>

<span class="STYLE6">使用人：</span>
<input type="text" name="user" size="10" id="user" />


<input type="submit" value="提交" name="submit">
<input type="reset" value="重置" name="reset">